.tm-header {
    padding: 0px;
    background: #005599;
}

.tm-header > h1 {
    padding: 15px;
    color: #fff;
    font-style: oblique;
    margin: 0;
}

.tm-header a[data-uk-offcanvas] {
    padding: 20px;
    font-size: 30px;
    color: #fff;
}

#plot {
    margin: 20px 0px;
}

.uk-modal-dialog {
    margin-top: 0px;
}

.uk-nav > li > a {
    padding: 10px 10px;
    border-bottom: 1px groove #c9c9c9;
}



